.DS_Store
.gitignoreold
.gitmodules
ajustadoatiCore/project/target/
ajustadoatiCore/project/project/
ajustadoatiMovilApp/
ajustadoatiCore/key/keystore.jks
ajustadoatiCore/lib/org.scala-lang.scala-library-2.10.4.jar
